{% include "header.html" %}


<div class="container">
  <div class="px-4 py-5 my-5 text-center">
    {% if feedbacks %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Apartamentų pavadinimas</th>
          <th scope="col">Bendras įvertinimas</th>
          <th scope="col">Personalo įvertinimas</th>
          <th scope="col">Komforto įvertinimas</th>
          <th scope="col">Švaros įvertinimas</th>
          <th scope="col">Vietos įvertinimas</th>
          <th scope="col">Komentaras</th>
          <th scope="col">Panaikinti atsiliepimą</th>
        </tr>
      </thead>
      <tbody>
        {% for feedback, apartment in feedbacks %}
          <tr>
            <th scope="row">{{ apartment.apartment_name }}</th>
            <td>{{ feedback.overall_assessment }}</td>
            <td>{{ feedback.staff_assessment }}</td>
            <td>{{ feedback.comfort_assessment }}</td>
            <td>{{ feedback.cleanliness_assessment }}</td>
            <td>{{ feedback.place_assessment }}</td>
            <td>{{ feedback.comment }}</td>
            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myOutput{{ feedback.fk_booking_id }}">Panaikinti atsiliepimą</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <h3> Naudotojas neturi atsiliepimų. </h3>
    {% endif %}
  </div>
</div>

{% for feedback, apartment in feedbacks %}
 <!-- Modal -->
  <div class="modal fade" id="myOutput{{ feedback.fk_booking_id }}" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
<!--          <button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h4 class="modal-title">Pranešimas</h4>
        </div>
        <div class="modal-body">
          <p> Ar tikrai norite pašalinti naudotojo atsiliepimą?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Uždaryti</button>
          <a href="{{ url_for('delete_feedback', booking_id=feedback.fk_booking_id) }}" type="button" class="btn btn-primary">Pašalinti</a>
        </div>
      </div>

    </div>
  </div>
{% endfor %}


{% include "footer.html" %}
