{% include "header.html" %}

<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <div class="px-4 py-5 my-5">
        <div class="card mb-3" style="width: 30rem; margin: 0 auto;">
          <h3 class="card-header">Užsakymo informacija</h3>
          <div class="card-body">
            <h5 class="card-title">{{ booking.Apartment.apartment_name }}</h5>
            <h6 class="card-subtitle text-muted">{{ booking.Apartment.address }}</h6>
          </div>
            <img src="{{ booking.Apartment.img_url}}" class="img-thumbnail" alt="">
          <div class="card-body">
            <p class="card-text"><a href="{{ url_for('show_apartment', apartment_id=booking.Apartment.id) }}" class="card-link">Nuoroda į skelbimą</a></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Kambarys: {{ booking.Bill.room_fees }}</li>
            <li class="list-group-item">Pusryčiai: {{ booking.Bill.breakfast_fees }}</li>
            <li class="list-group-item">Kita: {{ booking.Bill.other_fees }}</li>
            <li class="list-group-item">Viso suma: </li>
          </ul>
          <div class="card-body">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a href="#" type="button" class="btn btn-outline-secondary btn-sm px-4">Atlikti užsakymą</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}