{% include "header.html" %}

<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <div class="px-4 py-5 my-5">
        <div class="card mb-3" style="width: 30rem; margin: 0 auto;">
          <h3 class="card-header">Užsakymo informacija</h3>
          <div class="card-body">
            <h5 class="card-title">{{ booking.Apartment.apartment_name }}</h5>
            <h6 class="card-subtitle text-muted">{{ booking.Apartment.address }}</h6>
          </div>
            <img src="{{ booking.Apartment.img_url}}" class="img-thumbnail" alt="">
          <div class="card-body">
            <p class="card-text"><a href="{{ url_for('show_apartment', apartment_id=booking.Apartment.id) }}" class="card-link">Nuoroda į skelbimą</a></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Kambario kaina: {{ booking.RoomType.price_for_night }} €</li>
            <li class="list-group-item">Kambario mokesčiai: {{ booking.Room.room_fees }} €</li>
            <li class="list-group-item">Pusryčių mokesčiai: {{ booking.Room.breakfast_fees }} €</li>
            <li class="list-group-item">Kiti mokesčiai: {{ booking.Room.other_fees }} €</li>
            <li class="list-group-item">Viso suma: {{ booking.Bill.full_price|round(2) }} €</li>
          </ul>
          <div class="card-body">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ConfirmPayment{{ booking.Bill.id }}">Patvirtinti užsakymą</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
  <div class="modal fade" id="ConfirmPayment{{ booking.Bill.id }}" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
<!--          <button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h4 class="modal-title">Pranešimas</h4>
        </div>
        <div class="modal-body">
          <p> Ar tikrai norite patvirtinti užsakymą ir pereiti prie apmokėjimo? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Uždaryti</button>
          <a href="{{ url_for('create_checkout_session', bill_id=booking.Bill.id) }}" type="button" class="btn btn-primary">Apmokėti</a>
        </div>
      </div>

    </div>
  </div>
{% include "footer.html" %}

